{% extends "base.html" %}
{% load static %}
{% block page_content %}
    {% block title %}
        Recipe:
    {% endblock title %}
    {% block content %}
        {% if recipe_list %}
            {% for recipe in recipe_list %}
                <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}, {{ recipe.level }}</a></li>
            {% endfor %}
        {% else %}
            <p>There are no recipes in database</p>
        {% endif %}
    {% endblock %}
{% endblock %}
{% block search_form %}
    <form class="form-inline my-2 my-lg-0 d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}