{% extends "base.html" %}
{% load static %}
{% block page_content %}
    {% block title %}
        Notes:
    {% endblock title %}
    {% block content %}
        {% if note_list %}
            {% for note in note_list %}
                <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
            {% endfor %}
        {% else %}
            <p>There are no notes in database</p>
        {% endif %}
    {% endblock %}
{% endblock %}
{% block search_form %}
   <form class="form-inline my-2 my-lg-0 d-flex" method="GET" action="" >
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
       <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
   </form>
{% endblock %}